<div>
    <h1>UserModification</h1>
    <table ng-if="(!enableEdit)?true:false">
        <tr ng-repeat="user in users">
            <td>
                <input type="checkbox" ng-model="user.isSelected" />
            </td>
            <td>
                <p>user.user.username</p>
            </td>
            <td>
                <input type="button" value="EDIT" ng-click="Button_OnClicked(1, user.user)"/>
            </td>
        </tr>
    </table>
    <table ng-if="(enableEdit)?true:false">
        <tr>
            <td>
                <h1>Edit User</h1>
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" value="Save Changes" ng-click="MakeChanges(1)"/>
            </td>
            <td>
                <input type="button" value="Discard Changes" ng-click="MakeChanges(2)"/>
            </td>
        </tr>
    </table>

</div>