<div>
    <table>
        <tr>
            <td>
                <select ng-model="message.subject">
                    <option value="Product">Product</option>
                    <option value="Others">Others</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <textarea placeholder="Message" style="width:400px; height:50px;" ng-model="message.messages.content"></textarea>
            </td>
        </tr>        
        <tr>
            <td>
                <input type="button" value="SEND" class="btn-success" ng-click="GetInput(1)"/>
            </td>
        </tr>
    </table>	
</div>