<div>
	<div>
		<table>
			<tr>
				<td>
					<input type="button" value="Remove Items" />
				</td>
			</tr>
		</table>
		
		<table>
			<tr ng-repeat="item in items">
				<td>
					<input type="checkbox" ng-model="item.isSelected" />
				</td>
				<td>
					<table>
						<tr>
							<td>
								<img src="item.item.source" style="width:100px; height:100px;" />
							</td>
						</tr>
						<tr>
							<td>
								<p>{{item.item.item}}</p>
							</td>
						</tr>
					</table>
				</td>
				<td>
					<input type="text" placeholder="Quantity" ng-model="item.item.quantity" />
				</td>
			</tr>
		</table>

		<table>
			<tr>
				<td>
					<input type="button" value="Order Now" />
				</td>
				<td>
					<input type="button" value="Cancel Orders" />
				</td>
			</tr>
		</table>

	</div>
</div>