<div>
    <table>
        <tr>
            <td>
                <input type="text" placeholder="Username" ng-model="username" />
            </td>
            <td>
                <input type="password" placeholder="Password" ng-show="(isShowPassword==false)?true:false" ng-model="password" />
                <input type="text" placeholder="Password " ng-show="(isShowPassword==true)?true:false" ng-model="password" />
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <input type="checkbox" ng-model="isShowPassword " ng-change="ChangeSettings() " />
                        </td>
                        <td>
                            <p>Show Password?</p>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <input type="button" value="LOGIN" />
            </td>
        </tr>
    </table>
</div>